.PatrolSection{
    margin-top: 200px;
    margin-bottom: 18px;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-bottom: 20px;
    margin-left: 2.5vh;
   margin-right: 2.5vh;
   border: 4px solid #cbcbcb;
   height: 600px;
   background-color: #2e3070;

}
